#artists {
    height: 200px;
}

.footer {
    background-color: transparent;
}

.navbar {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border-color: transparent;
}

.navbar-header h1 {
    color: black !important;
    text-align: center;
}

#dateRange {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 15px;
}

#dateRange .caret {
    margin-top: 10px;
}

.center {
    text-align: center
}

p {
    margin-bottom: 15px;
}

.no-padding {
    padding: 0px;
}

.no-border {
    border: none;
}

.margin-bottom {
    margin-bottom: 15px;
}

.multiselect-group .caret-container .caret {
    margin-left: 10px;
    margin-top: -5px;
    border-top: 7px solid !important;
    border-right: 5px solid transparent !important;
    border-left: 5px solid transparent !important;
}

.multiselect-group label {
    padding-left: 10px !important;
}

.btn-group, button.multiselect {
    width: 100% !important;
}

.slider-horizontal {
    margin: 20px 0 20px 0;
}